#ls-card-body {
  background-color: white;
  opacity: 90%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 100%;
}

.input-container {
  padding-top: 20px;
}

input[type="submit"] {
  color: #fff;
  background: rgb(87, 87, 87);
  border: 1px solid #000;
  border-radius: 0;
  padding: 5px 5px;
  outline: none;
}
input[type="checkbox"],
label input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -10px;
}
input[type="text"],
textarea {
  display: block;
  width: 100%;
  border: 1px solid #55565a;
  margin-top: 5px;
}

.checkbox-label {
  box-sizing: border-box;
  margin-right: 5px;
}
h2 {
  padding-top: 45px;
}
.form-label {
  padding-bottom: 2px;
}
/*********************************************************************       
    PRODUCT PAGE GLOBAL     
*********************************************************************/

section {
  position: relative;
}

#pp-main-cont {
}

#pp-main-cont h3 {
  line-height: 1.25em;
}

#pp-main-cont h1,
#pp-main-cont h2,
#pp-main-cont h3,
#pp-main-cont h4 {
  color: #000;
}

#pp-main-cont .ipn-ele {
  padding: 20px 0;
}

#pp-main-cont section#product-details {
  padding-top: 5px;
}

#pp-main-cont .sec-title {
  text-align: center;
  padding-bottom: 18px;
}

#pp-main-cont .sec-title .header-line {
  height: 2px;
  width: calc(100% - 30px);
  display: block;
  position: absolute;
  top: 30px;
  z-index: 20;
  background-color: #fff;
}

#pp-main-cont.dark-text .sec-title .header-line {
  background-color: #000;
}

#pp-main-cont .sec-title h2 {
  position: relative;
  display: inline-block;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  background-color: #ffffff;
  margin: 0;
  padding: 10px;
  z-index: 40;
  text-transform: uppercase;
}

#pp-main-cont .sec-title h2.title-white {
  color: #ffffff;
  border-color: #ffffff;
}

#pp-main-cont.dark-text .sec-title h2.title-white {
  color: #000;
  border-color: #000;
}

#pp-main-cont .sec-title h2.bkg-none {
  background-color: transparent;
}

#pp-main-cont p {
  font-size: 16px;
  color: #000;
  margin: 0 0 20px;
  line-height: 24px;
}

#pp-main-cont p.footnote {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  margin: 0 0 10px;
}

#pp-main-cont .btm-space {
  margin-bottom: 20px;
}

#pp-main-cont .bk-white {
  background-color: #ffffff;
}

@media only screen and (min-width: 350px) {
  #pp-main-cont .sec-title h2 {
    font-size: 20px;
    padding: 10px 20px;
  }
}

/*********************************************************************       
  MARRKETING BANNER   
*********************************************************************/

#mkt-banner {
  margin-top: -21px;
  position: relative;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#mkt-banner.mktb-standard {
}

.mktb-standard .mktb-mobile-bk {
  display: block;
  width: 100%;
  height: 400px;
  position: relative;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mktb-standard.mktb-default .mktb-mobile-bk {
  height: 250px;
}

.mktb-standard .mktb-bk {
  display: none;
}

.mktb-standard .container {
  position: relative;
  height: auto;
  margin-top: -400px;
}

.mktb-standard.mktb-default .container {
  margin-top: 0;
}

#mkt-banner .logo-abs-cont {
  background: #fff;
  padding: 15px;
}

#mkt-banner.mktb-standard .logo-abs-cont {
  bottom: auto;
  top: 250px;
  left: 15px;
}

#mkt-banner.mktb-standard.mktb-default .logo-abs-cont {
  top: 0;
  left: 0;
}

#mkt-banner .logo-abs-cont {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#mkt-banner.mktb-standard.mktb-default .logo-abs-cont {
  position: relative;
  text-align: center;
}

#mkt-banner .logo-abs-cont img {
  height: 50px;
  width: auto;
}

.mktb-standard .mktbs-call-out {
  background-color: #fff;
  margin: 250px 15px 0;
  padding: 32px 15px 30px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.mktb-standard .bar-btm {
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: -20px;
}

.mktb-standard .mktbs-call-out .mktbs-title {
  color: #000;
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  margin: 45px 0 20px;
  display: block;
}

.mktb-standard .mktbs-call-out p {
  color: #000;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 23px;
}

a.btn-pp {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  padding: 7px 18px;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

a.btn-pp:hover {
  background-color: #fff;
}

.dark-text a.btn-pp {
  color: #000;
}

#mkt-banner-lines {
  margin-top: -21px;
}

.mktb-lines .top-line {
  height: 10px;
  width: 100%;
  display: block;
}

.mktb-lines .btm-line {
  height: 8px;
  width: 100%;
  display: block;
}

.mktb-lines .img-ves img {
  display: block;
  padding: 13px 0 7px;
  margin: 0 auto;
  height: 75px;
}

@media only screen and (min-width: 768px) {
  .mktb-standard.mktb-default .container {
    margin-top: -50px;
    padding-bottom: 0;
  }

  .mktb-standard .mktb-mobile-bk {
    display: none;
  }

  .mktb-standard .mktb-bk {
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #mkt-banner .logo-abs-cont {
    bottom: initial;
    top: 250px;
    left: 15px;
  }

  #mkt-banner.mktb-standard.mktb-default .logo-abs-cont {
    left: auto;
  }

  .mktb-standard.mktb-animation .mktb-bk {
    height: 500px;
  }

  .mktb-standard.mktb-default .mktb-bk {
    height: 250px;
  }

  .mktb-standard .container {
    position: relative;
    height: 400px;
    margin-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  .mktb-standard.mktb-animation .container {
    height: 500px;
  }

  .mktb-standard.mktb-default .container {
    height: 250px;
    margin-top: 0;
  }

  .mktb-standard .mktbs-call-out {
    background-color: rgba(255, 255, 255, 0.9);
    width: 55%;
    margin: 0 0 0 15px;
    position: absolute;
    padding: 20px 20px 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  #mkt-banner.mktb-standard.mktb-default .logo-abs-cont {
    position: absolute;
    text-align: left;
  }

  #mkt-banner .logo-abs-cont {
    background: #fff;
    padding: 15px 25px 7px;
    position: absolute;
    top: 0;
    right: 10px;
    left: auto;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  #mkt-banner.mktb-standard .logo-abs-cont {
    bottom: auto;
    top: 0;
    left: auto;
  }

  #mkt-banner .logo-abs-cont img {
    height: 50px;
    max-height: none;
    width: auto;
    max-width: none;
  }

  .mktb-standard .mktbs-call-out .mktbs-title {
    margin: 0 0 20px;
  }

  .mktb-lines .img-ves img {
    float: right;
    margin: 0 20px 0 0;
  }
}

@media only screen and (min-width: 992px) {
  .mktb-standard .mktbs-call-out {
    width: 45%;
  }

  #mkt-banner {
    margin-top: -14px;
  }

  .mktb-standard .mktbs-call-out {
    top: 47%;
    transform: translateY(-50%);
  }

  #mkt-banner.mktb-lines {
    margin-bottom: 25px;
  }

  .mktb-lines .top-line {
    height: 6px;
  }

  .mktb-lines .btm-line {
    height: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .mktb-standard .mktbs-call-out {
    width: 40%;
  }
}

/*********************************************************************       
  IN PAGE NAVIGATION  
*********************************************************************/

.ipn-fixed #nav-blur {
  visibility: visible;
  top: 0;
}

.mini-nav.ipn-fixed #nav-blur {
  top: -30px;
}

.mobile-nav-toggle {
  position: relative;
  width: 100%;
  margin: -21px 0 20px;
  font-size: 20px;
  font-weight: 600;
  background: #fff;
  color: #666769;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  z-index: 1000 !important;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

html.mobile-open .mobile-nav-toggle,
html.in-page-open .mobile-nav-toggle {
  z-index: 10 !important;
}

.mobile-nav-toggle img {
  width: 7px;
}

nav#in-page-nav {
  width: 100%;
  position: absolute;
  top: 80px;
  -webkit-transition: all 0.25s ease-in-out; /* Safari */
  transition: all 0.25s ease-in-out;
  z-index: 500;
  display: none;
}

header.fixed ~ .page-content nav#in-page-nav,
header.fixed ~ .page-content .mobile-nav-toggle {
  position: fixed;
  z-index: 500;
}

header.fixed ~ .page-content .mobile-nav-toggle {
  top: 80px;
  margin-top: 0;
}

nav#in-page-nav a.no-show {
  display: none;
}

@media only screen and (min-width: 992px) {
  nav#in-page-nav {
    display: block !important;
    position: relative;
    top: -25px;
  }

  .ipn-fixed nav#in-page-nav {
    position: fixed;
    top: 103px;
    left: 0;
  }

  .mini-nav.ipn-fixed nav#in-page-nav {
    top: 73px;
  }
}

nav#in-page-nav .container {
  overflow: visible;
}

nav#in-page-nav a {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  padding: 10px 0;
  text-decoration: none;
  -webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;
  border: 1px solid #707070;
  border-top: 0;
  border-left: 0;
}

nav#in-page-nav a:first-child {
  padding-left: 0;
}

nav#in-page-nav .nav-col {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(230, 230, 230);
  text-align: center;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s; /* Safari */
  border-left: 1px solid #707070;
}

nav#in-page-nav .nav-col .nav-close {
  display: block;
  background: #62801e;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  cursor: pointer;
}

nav#in-page-nav .nav-col.odd a:first-child {
  grid-column: 1/3;
}

@media only screen and (min-width: 992px) {
  nav#in-page-nav .nav-col {
    display: block;
    background-color: #e6e6e6;
    padding: 10px;
    border: none;
  }

  nav#in-page-nav .nav-col:after {
    display: none;
  }

  nav#in-page-nav a {
    margin: 0 10px;
    border: none;
  }

  nav#in-page-nav a:hover {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    text-decoration: none;
  }

  .nav-balencer {
    height: 48px;
    width: 100%;
    display: none;
  }

  .mini-nav .navbalencer {
    display: block;
  }
}

/*********************************************************************       
  Loading Spinner      
*********************************************************************/

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  top: 6px;
  left: -26px;
}

.zip-loader .lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 0;
}

.lds-spinner div {
  transform-origin: 32px 12px;
  animation: lds-spinner 1.2s linear infinite;
}

.zip-loader .lds-spinner div {
  transform-origin: 10px 0;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 29px;
  width: 2px;
  height: 5px;
  border-radius: 20%;
  background: #000;
}

.zip-loader .lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 30px;
  width: 12px;
  height: 4px;
  border-radius: 20%;
  background: #000;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*********************************************************************       
  PRODUCT DETAILS SECTION       
*********************************************************************/

#label-downloads-cont {
}

#product-details {
}

#label-details-cont {
  margin-bottom: 25px;
}

#product-details .pd-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-details h1,
#product-details h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 5px;
  line-height: 26px;
}

#product-details a.btn-label-dwld {
  display: block;
  margin-bottom: 15px;
  padding-left: 40px;
  position: relative;
  max-width: 315px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

#product-details a.btn-label-dwld:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#product-details a.btn-label-dwld span {
  position: absolute;
  top: 5px;
  left: 6px;
}

#product-details a.btn-label-dwld span svg {
  fill: #fff;
  height: 30px;
  width: 24px;
}

.dark-text #product-details a.btn-label-dwld span svg {
  fill: #000;
}

#label-details-cont div {
  position: relative;
}

.label-detail-single {
  width: calc(33.33% - 12px);
  float: left;
  padding: 14px 1% 5px;
  background-color: #f5f5f5;
  margin: 6px;
  border: 1px solid #b5b5b5;
  min-height: 145px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.label-detail-single:hover {
  background-color: #f5f5f5;
}

.label-detail-single.active {
  cursor: default;
  pointer-events: none;
  background-color: #fff;
  z-index: 100;
  border-bottom-color: #e6e6e6;
  border-bottom: none;
}

.label-detail-single.disabled {
  opacity: 0.25;
  cursor: default;
}

.label-detail-single.disabled:hover {
  background-color: #f5f5f5 !important;
  border-color: #b5b5b5 !important;
}

.label-detail-single .lds-svg {
  text-align: center;
}

.label-detail-single .lds-svg svg {
  fill: #808285;
  width: 50px;
  height: 55px;
}

.label-detail-single.disabled:hover .lds-svg svg {
  fill: #808285 !important;
}

.label-detail-single .lds-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.three-by-detail-container,
.six-by-detail-container {
  width: calc(100% - 12px);
  float: left;
  min-height: 60px;
  background-color: #fff;
  display: block;
  margin: -6px 6px 0;
  display: none;
  border: 1px solid #b5b5b5;
  margin-top: -8px;
  z-index: 1;
}

.three-by-detail-container.open,
.six-by-detail-container.open {
  display: block;
}

.three-by-detail-container > div,
.six-by-detail-container > div {
  display: none;
}

.three-by-detail-container .show,
.six-by-detail-container .show {
  display: block;
}

.details-cont .btn-close {
  display: block !important;
  position: absolute !important;
  top: 0;
  right: 0;
  font-weight: 700;
  cursor: pointer;
  height: 30px;
  width: 30px;
  z-index: 1000;
  text-align: center;
  line-height: 30px;
}

.states,
.crop-list,
.worker-safety {
  padding: 10px;
}

.crop-list ul,
.states ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  columns: 100px 2;
}

.crop-list ul li,
.states ul li {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 0 0 5px 0;
}

/*.crop-list ul,*/
.pest-list ul {
  list-style: none;
  margin: 0;
  padding: 20px 10px 10px;
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  columns: 100px 2;
}

/*.crop-list ul li,*/
.pest-list ul li {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 0 0 5px 0;
}

.states .state-list {
  display: none;
}

.states .state-list.open {
  display: block;
}

.crop-list .crop-lists {
  display: none;
}

.crop-list .crop-lists.open {
  display: block;
}

.state-btn-cont {
  padding: 10px 0 15px;
}

a.toggle-states {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  background-color: #fff;
  text-decoration: none;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 5px 8px;
  display: block;
  margin-top: 5px;
  max-width: 250px;
}

a.toggle-states:hover {
  border-color: #000;
  opacity: 0.5;
}

a.toggle-states.active {
  color: #fff;
  cursor: default;
  pointer-events: none;
  border: none;
}

a.toggle-crops {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  background-color: #fff;
  text-decoration: none;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 5px 8px;
  display: block;
  margin-top: 5px;
  max-width: 250px;
}

a.toggle-crops:hover {
  border-color: #000;
  opacity: 0.5;
}

a.toggle-crops.active {
  color: #fff;
  cursor: default;
  pointer-events: none;
  border: none;
}

.product-use-rates,
.special-label-cont {
  padding: 15px;
}

.product-use-rates select,
.special-label-cont select {
  width: 90%;
  padding: 5px 10px;
  font-size: 16px;
}

.special-label-cont .slc-state-list ul {
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  columns: 100px 2;
}

.special-label-cont .slc-state-list ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #000066;
  text-decoration: underline;
}

.special-label-cont .slc-state-list ul li a:hover {
  color: #000;
}

.special-label-cont .slc-state-options {
  display: none;
}

.special-label-cont .slc-state-options a {
  font-size: 15px;
  font-weight: 600;
  color: #000066;
  display: block;
}

.product-use-rates .pur-cont p:first-child {
  padding: 15px 0 0;
}

#pp-main-cont .product-use-rates .pur-cont p,
#pp-main-cont .worker-safety p {
  margin-bottom: 10px;
  font-size: 15px;
}

#pp-main-cont .product-use-rates .pur-cont p.list-head {
  margin-bottom: 0;
}

.product-use-rates .pur-cont ul {
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  columns: 100px 2;
}

.product-use-rates .pur-cont ul li {
  font-size: 15px;
  color: #000;
}

.slc-results .sl-single h3 {
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

#pp-main-cont .slc-results .sl-single p {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}

#pp-main-cont .slc-results a.btn-pp {
  display: block;
  margin: 25px 0 10px;
  text-align: center;
  max-width: 350px;
}

@media only screen and (min-width: 350px) {
  .label-detail-single .lds-svg svg {
    width: 70px;
    height: 75px;
  }
}

@media only screen and (min-width: 500px) {
  .states ul,
  .crop-list ul,
  .pest-list ul,
  .special-label-cont .slc-state-list ul {
    -webkit-columns: 100px 3;
    -moz-columns: 100px 3;
    columns: 100px 3;
  }
}

@media only screen and (min-width: 650px) {
  a.toggle-crops,
  a.toggle-states {
    display: inline-block;
    padding: 5px 12px;
  }
}

@media only screen and (min-width: 768px) {
  #label-details-cont {
    margin-bottom: 0;
  }

  .label-detail-single .lds-title {
    font-size: 13px;
  }

  .label-detail-single {
    width: calc(16.66% - 12px);
    min-height: 137px;
    /*background-color:transparent;
      border:none;*/
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .label-detail-single:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .label-detail-single.active {
    cursor: default;
    pointer-events: none;
    border-top-color: #404040 !important;
    border-right-color: #404040 !important;
    border-left-color: #404040 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  ul.scol {
    width: 50%;
    float: left;
  }

  .three-by-detail-container {
    display: none;
  }

  .six-by-detail-container {
    border: none;
    background-color: #fff;
    border: 1px solid #404040;
  }

  .states ul,
  .crop-list ul,
  .pest-list ul,
  .special-label-cont .slc-state-list ul {
    padding: 15px;
    -webkit-columns: 100px 4;
    -moz-columns: 100px 4;
    columns: 100px 4;
  }

  .product-use-rates select,
  .special-label-cont select {
    width: 60%;
  }

  .product-use-rates .pur-cont ul {
    -webkit-columns: 100px 3;
    -moz-columns: 100px 3;
    columns: 100px 3;
  }

  #pp-main-cont .slc-results hr {
    display: none;
  }

  #pp-main-cont .slc-results .sl-single {
    width: 48%;
    float: left;
    padding: 15px;
  }

  .label-detail-single .lds-svg svg {
    width: 60px;
    height: 60px;
  }

  .special-label-cont .slc-state-options h4 {
    width: 70%;
  }

  .special-label-cont .slc-state-options a {
    display: inline-block;
    padding-left: 30px;
  }

  .special-label-cont .slc-state-options.shown {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .label-detail-single {
    min-height: 125px;
  }

  .states ul,
  .crop-list ul,
  .pest-list ul,
  .special-label-cont .slc-state-list ul {
    -webkit-columns: 100px 5;
    -moz-columns: 100px 5;
    columns: 100px 5;
  }

  .product-use-rates .pur-cont ul {
    -webkit-columns: 100px 4;
    -moz-columns: 100px 4;
    columns: 100px 4;
  }

  #pp-main-cont .worker-safety p {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .states .state-btn-cont {
    width: 18%;
    float: left;
  }

  .states .state-btn-cont a {
    display: block;
    margin: 10px;
    text-align: center;
  }

  .states ul {
    width: 80%;
    float: left;
  }

  .crop-list .state-btn-cont {
    width: 18%;
    float: left;
  }

  .crop-list .state-btn-cont a {
    display: block;
    margin: 10px;
    text-align: center;
  }

  .crop-list ul {
    width: 80%;
    float: left;
  }
}

/*********************************************************************       
  PRODUCT BENEFITS SECTION       
*********************************************************************/
#pp-main-cont #product-benefits .sec-title {
  padding: 15px;
}

#pp-main-cont #product-benefits .sec-title {
  padding: 15px;
}

#pp-main-cont #product-benefits .sec-title h2 {
  padding: 0px 15px;
}

#pp-main-cont #product-benefits .sec-title .header-line {
  top: 35px;
  width: calc(100% - 60px);
  left: 30px;
}

#product-benefits .pb-copy-cont {
  margin: 0 15px 30px;
  background-color: white;
}

#product-benefits .pb-copy-cont h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #000;
  text-align: center;
}

#product-benefits .pb-copy-cont ul {
}

#product-benefits .pb-copy-cont ul li {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

@media only screen and (min-width: 992px) {
  #product-benefits .pb-copy-cont h3 {
    margin: 15px auto;
  }
}

@media only screen and (min-width: 1200px) {
  #product-benefits .pb-copy-cont h3 {
    width: 50%;
  }
}

/*********************************************************************       
  SUPPORTING DOCUMNNETS SECTION       
*********************************************************************/
#supporting-materials {
}

#supporting-materials .doc-links a {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  padding: 7px 0 7px 27px;
  position: relative;
  text-decoration: none;
}

#supporting-materials .doc-links a:hover {
  text-decoration: underline;
}

#supporting-materials .doc-links a span {
  position: absolute;
  top: 6px;
  left: 0;
}

#supporting-materials .doc-links a span svg {
  fill: #000;
  height: 23px;
  width: 18px;
}

/*********************************************************************       
  WHERE TO BUY SECTION       
*********************************************************************/
#where-to-buy .row-eq-height {
  position: relative;
}

#map {
  height: 100%;
  min-height: 254px;
  position: relative;
  overflow: hidden;
}

#map img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

#rep-results {
  height: 100%;
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 30px;
  text-align: center;
}

#rep-results .results-container {
  text-align: left;
}

#rep-results p,
#rep-results strong {
  font-size: 15px;
  line-height: 20px;
}

#rep-results p {
  margin-bottom: 15px;
}

#map div {
  cursor: default !important;
}

#map a[href^="https://maps.google.com/maps"], #map a[href^="http://maps.google.com/maps"], .gmnoprint a, .gmnoprint span, .gm-style-cc
{
  display: none !important;
}

.representative {
  position: relative;
  padding-left: 30px;
}

.representative:before {
  content: "";
  width: 23px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.representative:first-child:before {
  background-image: url(../images/pin-1.svg);
}

.representative:nth-child(2):before {
  background-image: url(../images/pin-2.svg);
}

.representative:nth-child(3):before {
  background-image: url(../images/pin-3.svg);
}

#rep-results a.btn-pp {
  display: inline-block;
  margin-top: 20px;
}

#where-to-buy .zip-code-cont {
  font-size: 15px;
  display: none;
}

#where-to-buy .zip-code-cont span {
  font-weight: bold;
}

#where-to-buy .zip-code-cont a {
  color: #000;
}

#where-to-buy .zip-code-cont a:hover {
  opacity: 0.75;
}

#where-to-buy .new-zip-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#where-to-buy .new-zip-cont.edit,
#where-to-buy .new-zip-cont.map-loading {
  visibility: visible;
}

#where-to-buy .new-zip-cont .zip-loader {
  display: none;
}

#where-to-buy .new-zip-cont.map-loading .zip-loader {
  display: block;
}

#where-to-buy .new-zip-cont #new-zip {
  display: none;
}

#where-to-buy .new-zip-cont.edit #new-zip {
  display: block;
}

#new-zip input {
  width: 140px;
  border: none;
  background-color: #e8e8e8;
  color: #000;
  padding: 8px;
  border-bottom: 1px solid #888888;
}

#new-zip input:focus {
  outline: none;
}

#where-to-buy .new-zip-cont .btn-zip-close {
  display: none;
  position: absolute;
  top: 15px;
  right: 40px;
  font-weight: 700;
  cursor: pointer;
  height: 30px;
  width: 30px;
  z-index: 1000;
  text-align: center;
  line-height: 30px;
}

#where-to-buy .new-zip-cont .btn-zip-close:hover {
  opacity: 0.7;
}

#where-to-buy .new-zip-cont.edit .btn-zip-close {
  display: block;
}

a#btn-change-zip {
  padding: 10px 18px;
}

a#btn-change-zip span {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  #where-to-buy .row-eq-height,
  #where-to-buy #rep-results {
    min-height: 254px;
  }

  #where-to-buy .col-sm-5 {
    padding-right: 0;
  }

  #where-to-buy .col-sm-7 {
    padding-left: 0;
  }

  a#btn-change-zip span {
    display: initial;
  }

  #new-zip input {
    width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  #map img {
    height: auto;
    width: 100%;
  }
}

/*********************************************************************       
  PERFORMANCE SECTION       
*********************************************************************/
#performance {
}

#performance hr {
  border-top: 5px solid #f5f5f5;
}

.intro-copy {
  text-align: center;
}

.intro-copy h3 {
  position: relative;
  color: #000;
  font-size: 20px;
  text-align: center;
  margin: 10px 0 20px;
}

.intro-copy.title-bar h3 {
  display: inline-block;
  background: #fff;
  padding: 20px;
}

.intro-copy.title-bar .tb-bar {
  height: 2px;
  width: calc(100% - 30px);
  display: block;
  background: #cccccc;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 0;
}

#pp-main-cont .intro-copy p {
  margin-bottom: 0;
}

.testimonial-container {
  width: 100%;
  border: 1px solid #b5b5b5;
  -webkit-box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0 0 50px;
  padding: 30px;
}

.testimonial-container .col-sm-3 {
  height: 100%;
}

.testimonial-sidebar {
  height: 100%;
  background: #f5f5f5;
}

.testimonial-select {
  padding: 15px;
  cursor: pointer;
  background-color: #f5f5f5;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.testimonial-select:hover {
  background-color: #e8e8e8;
}

.testimonial-select.pc-active {
  font-weight: 600;
  color: #fff;
  border-bottom: 3px solid #b5b5b5;
  cursor: default;
}

.testimonial {
  display: none;
  position: absolute;
  left: -100%;
}

.testimonial.pc-active {
  display: block;
  position: relative;
  left: 0;
}

#pp-main-cont .testimonial p {
  width: 100%;
  font-style: italic;
  margin: 30px 0 0 0;
}

.testimonial-image {
  text-align: center;
  padding-right: 15px;
}

.testimonial-nav,
.carousel-mobile-nav {
  text-align: center;
  padding-top: 30px;
}

.testimonial-nav span,
.carousel-mobile-nav span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-left: 10px;
  cursor: pointer;
}

.testimonial-nav span:first-child,
.carousel-mobile-nav span:first-child {
  margin-left: 0;
}

.testimonial-nav span.pc-active,
.carousel-mobile-nav span.pc-active {
  border: none;
}

.sprout-video-container .lds-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(4);
}

.sprout-video-container .lds-spinner div {
  transform-origin: 12px 12px;
}

.sprout-video-container .lds-spinner div:after {
  left: 12px;
  background: #fff;
}

.load-more-videos {
  text-align: center;
  display: none;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .testimonial-container {
    padding: 0;
  }

  .testimonial {
    padding: 30px 30px 30px 0;
  }
}

.carousel-container {
  position: relative;
  padding: 0;
  margin: 50px 0;
}

#pp-main-cont .carousel-container p {
  margin: 15px 0;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-nav {
  display: none;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  border-bottom: 15px solid transparent !important;
  border-top: 15px solid transparent !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.carousel-nav.left {
  border-right-style: solid;
  border-right-width: 10px;
  left: 0;
}

.carousel-nav.right {
  border-left-style: solid;
  border-left-width: 10px;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .carousel-container {
    padding: 0 25px;
  }

  .carousel-nav {
    display: block;
  }
}

/*********************************************************************       
  RELATED PRODUCTS SECTION       
*********************************************************************/
#related-products {
  margin-top: 20px;
}

#related-products .rel-prod-bk {
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  z-index: -1;
}

#related-products .sec-title .half-line {
  height: 2px;
  display: block;
  position: absolute;
  background: #fff;
  top: 30px;
}

.dark-text #related-products .sec-title .half-line {
  background: #000;
}

#related-products .sec-title .half-line.left {
  width: calc(50% - 155px);
  left: 15px;
}

#related-products .sec-title .half-line.right {
  width: calc(50% - 155px);
  right: 15px;
}

#related-products .rp-cont {
  padding: 0 15px 15px;
}

#related-products .rp-cont a.rp-single {
  padding: 15px;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
  background-color: #fff;
}

#related-products .rp-cont .rp-single img {
  height: 50px;
  margin-bottom: 8px;
}

#related-products .rp-cont .rp-single .rp-cta {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  #related-products {
  }

  #related-products .rel-prod-bk {
    background-image: url(../images/bkg-related-products.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #related-products .rp-cont {
    display: flex;
    min-height: 320px;
  }

  #related-products .rp-cont a.rp-single {
    width: 31.3%;
    margin: 0 1%;
    float: left;
  }

  #related-products .rp-cont.rp-two a.rp-single {
    width: 50%;
    float: left;
  }

  .dark-text #related-products .sec-title .half-line {
    background: #fff;
  }

  #pp-main-cont #related-products .sec-title h2.title-white {
    color: #fff;
  }
}

/*********************************************************************       
  SYNGENTA NEWS SECTION       
*********************************************************************/

#syngenta-news {
}

#syngenta-news h3 {
  color: #000;
  margin-bottom: 5px;
}

#syngenta-news .btn-pp {
  display: block;
  text-align: center;
}

a.article-single {
  text-decoration: none;
  color: #000;
}

a.article-single article {
  margin-bottom: 25px;
}

a.article-single article .article-img {
  display: none;
}

a.article-single article .article-copy h4 {
  color: #000;
  margin: 0 0 5px;
  text-decoration: underline;
}

a.article-single article .article-copy p {
  margin-bottom: 0 !important;
}

#syngenta-news #thrive-news,
#syngenta-news #kmgm-news {
  margin-bottom: 40px;
}

.news-cont .btn-pp {
  margin-top: 25px;
}

@media only screen and (min-width: 600px) {
  a.article-single article .article-img {
    display: block;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.75s;
    transition: all 0.75s;
  }

  a.article-single:hover article .article-img {
    transform: scale(1.1);
  }

  a.article-single article .article-copy {
    width: calc(100% - 180px);
    float: left;
    padding-top: 15px;
  }

  #syngenta-news .btn-pp {
    max-width: 280px;
  }
}

@media only screen and (min-width: 768px) {
  a.article-single article .article-copy {
    padding-top: 0;
  }

  #syngenta-news .blog-descriptor {
    height: 156px;
  }
}

@media only screen and (min-width: 992px) {
  #syngenta-news .blog-descriptor {
    height: 110px;
  }
}

/*********************************************************************       
  IMAGE/COPY MODULE     
*********************************************************************/
.image-copy {
  margin: 50px 0;
}

.image-copy .ic-cont .img-cont img {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .image-copy .ic-cont {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  .image-copy .ic-cont.img-right {
    flex-direction: row-reverse;
  }

  .image-copy .ic-cont .img-cont {
    flex: 1 0 60%;
    padding: 0 15px 0 0;
  }

  .image-copy .ic-cont.img-right .img-cont {
    padding: 0 0 0 15px;
  }

  .image-copy .ic-cont .copy-cont {
    flex: 1 0 40%;
    padding: 0 0 0 15px;
  }

  .image-copy .ic-cont.img-right .copy-cont {
    padding: 0 15px 0 0;
  }
}

@media only screen and (min-width: 1200px) {
}

.sprout-container,
.youtube-container {
  margin-top: -30px;
}

.addtotop {
  margin-top: 20px;
}

.seed-treatment #product-benefits {
  margin-top: -30px;
}

/*********************************************************************       
  video banner     
*********************************************************************/

.hv-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
  min-height: 400px;
  max-height: 500px;
  overflow: hidden;
}

.hv-cover video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media only screen and (min-width: 768px) {
  .mktb-standard.mktb-video-banner .container {
    height: 500px;
  }
}

/*Tavium Css*/
.tav-btn-cont {
  margin-bottom: 30px;
  display: block;
}

a.tav-btn {
  display: block;
  background-color: rgb(92, 184, 178);
  border: 3px solid rgb(92, 184, 178);
  color: #000000;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  max-width: 420px;
  height: auto;
  margin: 0 auto 20px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

a.tav-btn .tav-icon {
  width: 100px;
  display: block;
  float: left;
  padding-right: 15px;
}

a.tav-btn span {
  display: block;
  width: 58%;
  float: left;
}

a.tav-btn b.arrow {
  padding-left: 0;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

a.tav-btn:hover {
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.tav-btn:hover b.arrow {
  padding-left: 8px;
}

@media only screen and (min-width: 350px) {
  a.tav-btn span {
    width: 63%;
  }
}

@media only screen and (min-width: 426px) {
  a.tav-btn span {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .tav-btn-cont {
    display: flex;
  }

  a.tav-btn {
    text-align: center;
    width: 31.33%;
    margin: 0 1%;
    padding: 20px 20px 10px;
  }

  a.tav-btn .tav-icon {
    width: 75px;
    display: block;
    float: none;
    padding-right: 0;
    margin: 0 auto 15px;
  }

  a.tav-btn span {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  a.tav-btn .tav-icon {
    width: 70px;
    float: left;
    padding-right: 18px;
  }

  a.tav-btn span {
    float: left;
    width: 70%;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  a.tav-btn .tav-icon {
    width: 100px;
    display: block;
    float: left;
    padding-right: 18px;
  }

  a.tav-btn span {
    width: 65%;
  }
}

#tavium-form input,
#tavium-form select {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 2px solid rgb(92, 184, 178);
  padding: 0 5px;
  margin-bottom: 20px;
}

#tavium-form input[type="submit"] {
  font-weight: 600;
  border: 2px solid rgb(92, 184, 178);
}

#tavium-form input[type="submit"]:hover {
  background: #fff;
  border: 2px solid rgb(92, 184, 178);
}

#tavium-form label {
  display: block;
}

#tavium-form input.error,
#tavium-form select.error {
  border: 1px solid red;
}

#tavium-form .thank-you {
  display: none;
}

#tavium-form .thank-you b {
  display: block;
}

/****************************************           
SELECT 2 Style overrides   
****************************************/

.select2-results__option {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.select2-selection__rendered {
  line-height: 31px !important;
}

.select2-container .select2-selection--single {
  height: 35px !important;
}

.select2-selection__arrow {
  height: 34px !important;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 400px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered,
.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  font-size: 16px;
}

/****************************************           
single iframe responsive video  
****************************************/

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
