header {
  height: 95px;
}

/*Navbar Wrapper*/
.navbar-Wrapper {
  border-bottom: solid;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  border-color: #5f7800;
  z-index: 2;
}

/*Top Nav Bar*/
.top-Nav ul {
  margin: 0;
  padding: 5px;
}

.top-Nav ul li {
  list-style-type: none;
  display: inline;
}

.top-Nav li a {
  color: #404143;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.top-Nav li:not(:first-child):before {
  content: " | ";
}

.search-Icon {
  background: url("./images/search.png");
  height: 12px;
  width: 12px;
  display: block;
}

/*Lower Nav*/
.lower-Nav ul {
  margin: 0;

  padding-left: 0px;
  padding-bottom: 25px;
  padding-right: 25px;
  position: relative;
}

.lower-Nav ul li {
  list-style-type: none;
  display: inline;
  padding-right: 5px;
  font-weight: 600;
}

.lower-Nav li a {
  color: #404143;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 5px;
}

/*Logo*/
.logo {
  width: 100%;
  max-width: 140px;
  padding-top: 25px;
  vertical-align: middle;
}

/* Breadcrumb*/
.breadcrumb-List {
  position: relative;
  padding: 10px 0 5px;
  height: 35px;
  background-color: #e6e6e6;
  z-index: -1;
}

.breadcrumb-List li {
  list-style-type: none;
  display: inline;
}
.breadcrumb-List li a {
  color: black;
}

/*top-image-right */
